---
---

<html lang="en">
  <head>
    <title>Hello from Astro</title>
  </head>
  <body>
    <h1>Astro Site</h1>

    <script>
      console.log("✅ Hello from the browser console!");
    </script>
  </body>
</html>
