---
import Layout from '../../components/Layout.astro';
---

<style>
h1 {text-align: left; font-size: 60px;}
p {text-align: left;}
div {text-align: center;}
header {font-style: 'Segoe UI';}
</style>

<Layout title="cad">
  <section class="section">
    <h1><b>cad work</b></h1>
    <p>cad models and drawings</p>
  </section>
</Layout>
